$section-padding: 1rem 1.5rem
$section-padding-medium: 1rem 1.5rem
$section-padding-large: 1rem 1.5rem

$primary: #1875d1
$primary-invert: #ffffff

@import "~bulma"

.hover
  cursor: pointer

nav
  border-bottom: lightgray solid 0.1vmin

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

.margin-top-0
  margin-top: 0 !important

.sent-success
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .h2
    margin-bottom: 50px;

.main-body
  min-height: calc(100vh - 52px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

.footer
  padding-bottom: 3em;

.title-image-container
  height: 500px;
  position: relative;
  width: 100vw;
  overflow: hidden;
  img
    width: 100vw;
    height: 500px;
    object-fit: cover;
    object-position: 50% 85%;

.home-links
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 50px 10px;
  .home-link-container
    padding: 30px 20px;
  .home-link
    min-width: 300px;

.message-body
  height: 350px;